/*===============================================*
 |                                               |
 |   Development      :  [AMEER_PS]              |
 |                                               |
 |   addon name       :  [YILDIZ_GIFT]           |
 |                                               |
 |   Version          :  [1.0]                   |
 |                                               |
 |   Codychat version :  [CODYCHAT 3.6]          |
 |                                               |
 *===============================================*/
/* this is  some css here */
.chat_system_gift {
    color: #080606;
    direction: rtl;
    font-weight: bold;
    background: linear-gradient(90deg, rgb(249 249 249) 35%, rgb(218 218 218 / 57%) 100%);
    border-radius: 8px;
    padding: 4px 9px;
    border: 1px solid #00000021;
    box-shadow: -4px 0px 9px #3e3e3e1f;
    }
.gift_log{
	background:#e6addc;
	padding:10px;
}
.alert_gift {
  display:none;
  padding: 20px;
  background-color: #f44336;
  color: white;
  padding:7px;
  text-align:center;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
@media only screen and (max-width : 480px) {
.AMerr {
    float: right;
    width: calc(50% - 10px);
    direction: rtl;
    }
}
.AMerr {
	padding: 6px 9px;
    float: right;
    width: calc(50% - 10px);
    direction: rtl;
    }
.maGift{
    direction: rtl;
    background: #000000d1;
    position: relative;
    width: 81%;
    right: 10%;
    padding: 7px;
    color: white;
    left: 8%;
    border-radius: 13px;
    /* top: 14%; */
}
.imgGiftpub{
    border: 1px solid #adada0;
    border-radius: 7px;
    background: white;
    width: 46px;
	vertical-align:middle;
}
.gift-container{border:1px solid #ccc;text-align:center}div.gift-container:hover{border:1px solid #c3aba3}div.gift-container img{height:70px;width: 77px;}div.gift-desc{padding: 5px 3px;text-align:center;background:#260132;font-size: 13px;color:#fff;}.gift-responsive{padding:6px;float:left;width:25%}@media only screen and (max-width:700px){.gift-responsive{width:33%;margin:6px 0}}@media only screen and (max-width:500px){.gift-responsive{width:33%}}p.giftheading{padding-bottom:5px;text-align:center;color:#20292f;font-size:17px}div.gift-container:hover>div.gift-desc{background:#a703dc;color:#fff;}
.gifts_chat { height:32px; width:auto; margin:0 5px; }
.gifts_icon { color:#ff0066; }
.gift_icon{
    color: gold;
    font-weight: bold;
    font-size: 18px;
}
.gift_dec{
    font-weight: bold;
    font-size: 15px;
}
.selected-gift{ font-size: 16px; letter-spacing: -0.24px; text-align: center; color: #7269ef; }
.new_style_gift{
text-align: center;
 border: solid 1px transparent;
 background: #fff;
 padding: 1px;
 display: grid;
 grid-gap: 1px;
 place-content: center;
 transition: .3s ease-in-out all;
 box-shadow: 0 5px 30px rgb(0 0 0 / 8%);
 border-radius: 10px;
 margin-bottom:4px;
}
.info { border-radius:5px; background:#ffc6c6; color:#420000; border:1px solid red; font-weight:bold; text-align:center;}
.pGift{ 
direction: rtl;font-weight: bold;color: red;padding-bottom: 3px;
}
.new_style_gift_sel{
text-align: center;
 border: 1px solid blue;
 background: #fff;
 padding: 1px;
 display: grid;
 grid-gap: 1px;
 place-content: center;
 transition: .3s ease-in-out all;
 box-shadow: 0 5px 30px rgb(0 0 0 / 8%);
 border-radius: 10px;
 margin-bottom:4px;
}
.quiz_gift {
    background: aliceblue;
    border: 1px solid #cce8ff;
    padding-left: 2px;
    padding-right: 1px;
    border-radius: 5px;
}
.listing_half_element_gift {width:calc(50% - 10px);float:left;margin:8px 0px;direction:rtl;

}

.new_help:before {
    content: "\f112";
    font-family: FontAwesome;
    font-size: 15px;
    vertical-align: middle;
    position: relative;
    bottom: 10px;
    color: #7b30ff!important;
    font-weight: 900;
    display: inline-block;
    display: -webkit-inline-box;
    text-shadow: 0px 1px 0 #ffffff;
    margin-right: 9px;
    left: 11px;
    top: -3px;
}
.hide_gift{
	position: relative;
	left: 85%;
	z-index: 33;
	font-size: 17px;
	top: -51px;
	color: aliceblue;
}

.red { color:red; }
.green { color:green; }
.blue { color:blue; }
.helpA {text-align:center ;color: #080606;direction: rtl;font-weight: bold;background: linear-gradient(90deg, rgb(241, 243, 255) 35%, rgba(195,223,255,1) 100%);border-radius: 0 25px 25px 0;padding: 0px 8px;border: 1px solid #b1adad;box-shadow: 1px 1px 8px #3e3e3e;}

.sel_gift{
color:white;
position:absolute;
background:blue;
padding:3px;
border-radius:15px;
}
.num_gifts{padding: 5px 5px;width: 100%;min-width: 70%;max-width: 100%;border:none;border-radius:8px;direction: rtl;background: #ffffff;box-shadow:0 5px 30px rgb(0 0 0 / 8%)}
