.emo_content,
.emo_content_priv {
  background: white;
}

#wrap_stream {
    width: 640px;
    height: 383px;
    padding: 20px;
    overflow: hidden;
    border-top: none;
    transition: all ease 0.3s;
    background: #151515;
}

#close_stream {
    float: right;
    padding: 0;
    font-size: 19px !important;
    color: #ff4d4d;
}

#hide_stream {
    float: right;
    padding: 0;
    margin-right: 20px;
    font-size: 19px !important;
    color: #ffffff;
}

#stream_header {
    width: 100%;
    height: 47px;
    background: #191919;
    padding: 15px;
    border-bottom: 1px solid #090909 !important;
    cursor: move;
}

#container_stream {
    -webkit-user-drag: auto;
    user-drag: auto;
    background: #090909;
    border: 3px solid #090909;
    top: 35%;
    border-radius: 7px;
    overflow: hidden;
}

#wrap_stream.hide {
    height: 0 !important;
    transition: all ease 0.3s;
    padding: 0;
}

.open_player {
    background: red;
    padding: 4px 8px;
    position: relative;
    right: auto;
    top: auto;
    cursor: pointer;
    opacity: 1;
    z-index: 11;
    border-radius: 5px;
    width: auto;
    display: inline-block;
}

@media screen and (max-width: 768px) {
    #container_stream {
        left: 18px;
        right: 18px;
        top: 40px;
        margin-top: 0 !important;
        margin-left: 0 !important;
    }
    #stream_header {
        width: 100%;
        height: 36px;
        background: #191919;
        padding: 9px;
        border-bottom: 1px solid #090909 !important;
        cursor: move;
    }
    #wrap_stream {
        width: auto;
        height: 200px;
        padding: 10px;
        overflow: hidden;
        border-top: none;
        transition: all ease 0.3s;
        background: #151515;
    }
    .open_player.hide_mobile {
        display: inline-block !important;
    }
}


.main_border {
  position: absolute;
  height: 36px;
  top: -7px;
  left: -3px;
}
.over {
  position: absolute;
  z-index: 1;
  right:-1px;
}
.over2 {
  position: absolute;
  z-index: 1;
  left: -4px;
}
.overlist {
  position: absolute;
  z-index: 1;
  left: 0;
}
.ch_fr_bg {
  width: 38px;
  top: -8px;
}
.over4 {
  position: absolute;
  z-index: 1;
  left: -5px;
}
.list_fr_bg {
  width: 46px;
  top: -11px;
}
.over5 {
  position: absolute;
  z-index: 1;
  left: 0;
  pointer-events: none;
}
.ul_fr_bg {
  width: 46px;
  top: -6px;
}
.pro_fr_bg {
  width: 46px;
  top: -11px;
}
.avatr_profile_frame {
  right: -3px;
}
.over3 {
  position: absolute;
  z-index: 1;
  right: -14px;
  pointer-events: none;
  width: 160px;
  top: -18px;
}

@media screen and (max-width: 640px) {
  .over3 {
    max-width: 125px;
  }
}
.toplist_avatar2 {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  position: relative;
  width: 48px;
  height: 48px;
}
.topav_circle {
  border-radius: 50%;
  display: block;
  width: 36px;
  height: 36px;
}
.under {
  position: absolute;
}
.ul_fr_av {
  left: 5px;
  top: 5px;
}
.post_avatar_frame {
  display: table-cell;
  vertical-align: center;
  width: 44px;
  height: 44px;
  position: relative;
}
.post_avatar img, .post_avatar_frame .under {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: block;
  cursor: pointer;
}
.score_lm {
  display: table-cell;
  vertical-align: middle;
  width: 70px;
  text-align: right;
  font-weight: bold;
  padding: 0 5px;
}
.ranking_lm {
  display: table-cell;
  vertical-align: middle;
  width: 30px;
  text-align: center;
  font-weight: bold;
}
.quiz_leaderbox {
  width: 100%;
  max-height: 400px;
  overflow: hidden;
  overflow-y: auto;
}

.over_pro {
  position: absolute;
  z-index: 1;
  left: 0;
  pointer-events: none
}
.profile_avatar_round {
  display: table-cell;
  width: 120px;
  height: 152px;
  vertical-align: bottom;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

.flexcenter {
  display: table-cell;
  vertical-align: top;
  text-align: center
}

.chat_frame_avatar {
  display: inline-block;
  position: relative;
  vertical-align: top
}

.chat_frame_avatar_inner {
  height: 28px;
  width: 28px;
  border-radius: 50%;
  display: block;
  overflow: hidden;
  cursor: pointer
}

.chat_frame_avatar_inner2 {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: block;
  overflow: hidden;
  cursor: pointer
}

.user_item_frame_avatar {
  display: table-cell;
  vertical-align: middle;
  width: 60px;
  height: 60px;
  position: relative
}

.user_item_frame_avatar_new {
  display: table-cell;
  vertical-align: middle;
  width: 48px;
  height: 48px;
  position: relative
}

.user_item_frame_inner {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: block;
  cursor: pointer
}

.under {
  position: absolute
}

.over {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0
}

.over2 {
  position: absolute;
  z-index: 1;
  left: -4px;
  pointer-events: none
}

.toplist_avatar {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  position: relative;
  width: 70px;
  height: 70px
}

.toplist_avatar2 {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  position: relative;
  width: 48px;
  height: 48px
}

.topav_default {
  margin-left: 15px
}

.topav_circle {
  border-radius: 50%;
  display: block;
  width: 36px;
  height: 36px
}

.toplist_name {
  display: table-cell;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
  padding: 0 5px
}
#main_input_extra, #priv_input_extra, #private_emo, #main_emo {
  background:#fff !important;
}
.nameWave {
    background-size: 200% auto;
    background-position: 0 0;
    -webkit-animation: nameWave 3s linear infinite normal;
    animation: nameWave 1.5s linear infinitel;
}

@keyframes nameWave {
    to {
        background-position: 200% center;
    }
}
.selectboxit-btn {
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;
}
::-webkit-scrollbar {
    width: 0.4em;
}

::-webkit-scrollbar-thumb {
    background: #d3d3d3;
}
#emo_item {
    padding: 0;
    position: absolute;
    font-size: 20px;
    top: 6px;
    right: 10px;
    cursor: pointer;
    width: auto;
    height: 26px;
    background: initial;
}
#content {
    padding-right: 32px;
}
#main_input_box {
	width: auto;
    height: 100%;
    text-align: center;
    font-size: 24px;
    display: table-cell;
    vertical-align: middle;
    position: relative;
}
.emoji {
    color: initial;
}
#emo_item_priv {
    position: absolute;
    font-size: 20px;
    top: 13px;
    right: 55px;
    cursor: pointer;
    background: initial;
}
#message_content {
    padding-right: 32px;
}
.adnoyer_log {
    padding: 10px;
    background-color: #add8e6;
}
.absolute_center {
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	max-width: 350px;
}
.prev_right_btn {
	height: 40px;
	width: 40px;
	right: 10px;
	bottom: 5px;
	position: absolute;
	font-size: 16px
}

.prev_left_btn {
	height: 40px;
	width: 40px;
	left: 10px;
	bottom: 5px;
	position: absolute;
	font-size: 16px
}	 
.msg_mark{display:inline;top:3px;position:relative}.seen_mark{color:#34b7f1}
.should_hidden {
	display:none !important;
}