body {
    color: rgb(22, 22, 22) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
}

#global_chat {
    background-color: rgba(255, 255, 255, 0.556);
}

#private_wrap_content {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
}

.chat_panel {
    background: transparent !important;
}

#chat_left {
    color: rgb(0, 0, 0);
}

#main_input_extra, #priv_input_extra, #private_emo, #main_emo {
	background: rgb(51, 51, 51);
}

.background_box {
	background:transparent !important;
}

.log2,
.background_chat {
    background: transparent !important;
}

.chat_system {
    color: rgb(36, 36, 36) !important;
}

@media screen and (max-width:1260px) {
    .chat_panel {
        background: white !important;
    }
    #chat_left {
        color: gray;
        text-shadow: none;
    }
}

@media screen and (max-width:800px) {
    .chat_panel {
        background: white !important;
    }
    #chat_left {
        color: gray;
        text-shadow: none;
    }
}

@media screen and (max-width:640px) {
    .chat_panel {
        background: white !important;
    }
    #chat_left {
        color: gray;
        text-shadow: none;
    }
}

@media only screen and (max-width: 480px) {
    .chat_panel {
        background: white !important;
    }
    #chat_left {
        color: gray;
        text-shadow: none;
    }
}

@media screen and (max-width:400px) {
    .chat_panel {
        background: white !important;
    }
    #chat_left {
        color: gray;
        text-shadow: none;
    }
}

@media screen and (max-height:400px) {
    .chat_panel {
        background: white !important;
    }
    #chat_left {
        color: gray;
        text-shadow: none;
    }
}